.estudios-habilidades-container {
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .education-skills {
    margin-bottom: 20px;
    background-color: #f9f9f9; /* Fondo diferenciado */
    padding: 20px; /* Añadir padding para más separación */
    border-radius: 10px;
  }
  
  .education-skills h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .education-skills p {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
  }
  