.hobbies-container {
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9; /* Fondo diferenciado para la sección de hobbies */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  p {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
  }
  