.sobremi-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background: url('../images/fotoyo.avif') no-repeat center center/cover; /* Fondo de imagen */
  height: calc(90vh - 90px); /* Ajuste para header y footer */
  margin: 10px 0; /* Espacio para header y footer */
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s ease, transform 1s ease;

  &.loaded {
    opacity: 1;
    transform: translateY(0);
  }
}
.degree-title {
  font-size: 2.5rem; /* Tamaño de fuente más pequeño */
  color: #fff; /* Color blanco para que coincida con el resto del texto */
  margin-top: 10px; /* Espacio superior para separarlo del nombre */
  text-align: center; /* Centrar el texto */
}

.download-button {
  background-color: #007bff; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 1.2rem; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  text-decoration: none; /* Sin subrayado para el texto */
  transition: background-color 0.3s; /* Transición suave para el color de fondo */

  &:hover {
    background-color: #0056b3; /* Color del botón al pasar el mouse */
  }
}

.name-title {
  font-size: 5rem; /* Tamaño de fuente más grande */
  color: #fff;
  margin-bottom: 60px; /* Aumentar el margen inferior */
  text-align: center;
}

.personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(238, 255, 3, 0.9); /* Fondo completamente negro */
  padding: 30px; /* Aumentar el padding */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px; /* Aumentar el ancho máximo */
  text-align: center;
}

.profile-photo {
  width: 200px; /* Aumentar el tamaño de la foto */
  height: auto;
  border-radius: 50%;
  margin-top: 20px;
}

.text-content {
  color: #fff; /* Color blanco para el texto */
  font-size: 2rem; /* Tamaño de la fuente aumentado */
  line-height: 1.8; /* Aumentar el interlineado */
}
